/*************************************************************************
**
** colors.scss
**
** Give all the colors used in the project variable names.
** http://chir.ag/projects/name-that-color/
**
**************************************************************************/


/*****************
*
* Brand Colors
*
******************/

// $brand-primary - Blue Dark
// $brand-success - Green
// $brand-danger - Red
// $brand-warning - Yellow
// $brand-info - Blue Light


/****************
*
* Grays
*
****************/

// Lighter
// Light
// Base
// Gray
// Dark
// Darker


/*****************
*
* Other Colors
*
*****************/

$facebook: #3b5a9b; // Facebook Blue
$googleplus: #f63d26; // Google Plus Red
$linkedin: #0072b2; // LinkedIn Blue
$twitter: #2baae1; // Twitter Blue
$vimeo: #40b2dc; // Vimeo Blue
$youtube: #ff3330; // Youtube Red
